.icon {
    width: 3vw;
    height: 3vh;
}


.tiktok {
    fill: #fff;
    &:hover {
        fill: #BDA897;
    }
}

.facebook {
    fill: #fff;
    &:hover {
        fill: #BDA897;
    }
}

.instagram {
    fill: #fff;
    &:hover {
        fill: #BDA897;
    }
}

.linkedin {
    fill: #fff;
    &:hover {
        fill: #BDA897;
    }
}

@media screen and (max-width: 768px) {
    .icon {
        width: 12vw;
    }
}
    